{% extends 'base.html' %}

{% block title %}Criador De Trabalhos ABNT - Paper Gen{% endblock %}

{% block content %}
  <h1>Criador de Trabalhos<br><span>Acadêmicos em normas ABNT</span></h1>
  <p class="subtitle">
    A tecnologia de IA que cria os seus trabalhos com perfeição
  </p>

  <div class="preco-promocao mt-4">
    <span class="preco-antigo">R$ 19,90</span>
    <span class="preco-novo">R$ 7,90</span>
  </div>

  <div class="cta-buttons mb-4">
    <a href="/start">
        <button class="start-button mt-3">Começar →</button>
    </a>
  </div>

  <p class="subtitle fs-6 mb-4">
    Utilizado por mais de 1.000 alunos
  </p>

  <div class="features">
    <div class="feature-card">
      <div class="feature-title">Qualquer Tema</div>
      <p class="feature-desc">
        Você só precisa enviar o tema do seu trabalho. A nossa IA faz o resto!
      </p>
    </div>
    <div class="feature-card">
      <div class="feature-title">Linguagem Natural</div>
      <p class="feature-desc">
        Todos os trabalhos são escritos com uma linguagem natural, nem parece IA!
      </p>
    </div>
    <div class="feature-card">
      <div class="feature-title">Instantâneo</div>
      <p class="feature-desc">
        O trabalho é criado e disponibilizado para você fazer download na hora!
      </p>
    </div>
  </div>
{% endblock %}
