{% extends "base.html" %}
{% load static %}

{% block title %}Criar Trabalho{% endblock %}

{% block content %}

<div class="container-fluid d-flex align-items-start">
  <div class="row w-100">
    <div class="col-lg-6 col-md-12 d-flex align-items-start justify-content-start mb-4 mb-lg-0">
      <img src="/static/storage/certidao/example.png"
           class="img-fluid w-75 rounded" alt="Trabalho em Normas ABNT">
    </div>
    <div class="col-lg-6 col-md-12 d-flex justify-content-start text-start">
      <div class="w-100">
        <h1 class="mb-2">Trabalho em normas ABNT</h1>
        <div class="preco-promocao mb-2 align-items-start">
            <span class="preco-antigo">R$ 19,90</span>
            <span class="preco-novo">R$ 7,90</span>
        </div>
        <p style="font-size: 12px;" class="mb-0 text-secondary"><span class="text-danger">*</span> Documento disponibilizado na hora para o download.</p>
        <p style="font-size: 12px;" class="mb-4 text-secondary"><span class="text-danger">*</span> Preencher todas as informações ajuda a criar o melhor trabalho possível.</p>
        <form method="post">
          {% csrf_token %}
            <div class="mb-3">
                <label for="curso" class="form-label">Curso *</label>
                <input type="text" id="curso" name="curso" class="form-control" placeholder="História" required>
            </div>
            <div class="mb-3 d-flex w-100 gap-2">
                <div class="d-flex flex-column w-100">
                    <label for="materia" class="form-label">Matéria *</label>
                    <input type="text" id="materia" name="materia" class="form-control" placeholder="História" required>
                </div>
                <div class="d-flex flex-column w-100">
                    <label for="tema" class="form-label">Tema do Trabalho *</label>
                    <input type="text" id="tema" name="tema" class="form-control" placeholder="Revolução Industrial" required>
                </div>
            </div>
          <div class="mb-3">
            <label for="complemento" class="form-label">Explique o que precisa no trabalho (opcional)</label>
            <textarea name="complemento" id="complemento" class="form-control" placeholder="Trabalho focado em Napoleão Bonaparte..."></textarea>
          </div>
          <div class="w-100 d-flex justify-content-start">
              <button type="submit" class="btn btn-primary">Gerar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



{% endblock %}